.image-people {
  position: absolute;
  border-radius: 50%;
  width: 15%;
  height: 50%;
  top: 12%;
  left: 5%;
  vertical-align: middle;
  background: #c4c4c4;
}

.Name {
  position: absolute;
  left: 27%;
  top: 15%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 160%;
  line-height: 42px;
  color: #000000;
}

.university {
  position: absolute;
  top: 33%;
  left: 27%;
  width: 50%;
  text-align: justify;
  font-size: 100%;
}

.hline {
  width: 300px;
  position: relative;
  top: 45%;
  margin: auto;
  height: 2%;
  width: 90%;
  background-color: black;
  opacity: 0.1;
}

.button-message {
  position: relative;
  height: 15%;
  left: 80%;
  top: 20%;
  background-color: #6c95ff;
  font-size: 90%;
  color: white;
}
.button-more {
  position: relative;
  height: 15%;
  left: 82%;
  top: 20%;
  background-color: #6c95ff;
  font-size: 90%;
  color: white;
}

.about {
  position: relative;
  top: 45%;
  left: 5%;
  text-align: justify;
}
