.section {
  display: flex;
}

.sectionCard {
  background: #f5f6f8 !important;
}

.sectionImage {
  width: 12rem;
  height: 6rem;
  background: #c4c4c4;
  flex-shrink: 0;
}

.sectionFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionContent {
  flex-grow: 1;
}

.sectionDescription {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.sectionIcons {
  color: #737475;
}
