.section {
    display: flex;
}

.section-image {
    width: 12rem;
    height: 6rem;
    background: #c4c4c4;
    flex-shrink: 0;
}

.section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-content {
    flex-grow: 1;
}

.section-description{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
}

.section-icons {
    color: #737475;
}