.section {
  display: flex;
}

.section-card {
  background: #f5f6f8 !important;
}

.section-image {
  flex-shrink: 0;
}

.section-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-content {
  flex-grow: 1;
}

.section-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.section-icons {
  color: #737475;
}

.edit-icon-button {
  color: #4698f9 !important;
  font-size: 1.2rem !important;
  transition: all 0.2s;
  padding: 0 !important;
}

.edit-icon-button:hover {
  color: #2c68b3 !important;
}
