.login-container {
  margin: auto;
  width: 70%;
  height: 100%;
}

.login {
  display: flex;
  margin: 20%;
}

.login-method {
  flex: 1;
}

.app-icon {
  flex: 1;
  background: #c4c4c4;
}

.login-header {
  text-align: center;
}
