.circle {
  width: 2.5rem;
  height: 2.5rem;
  background: transparent;
  margin-right: 0.3rem;
  border-radius: 2rem;
  transition: ease 0.4s;
}

.circle:hover {
  background: #87a4c7;
}

.eporfo {
  color: white;
  margin-left: 2rem;
}

.navbar {
  background: #3578c9;
}

.searchbarContainer {
  flex-grow: 0.2;
  font-size: 1.1rem;

  background: #739fd4;
  transition: ease 0.4s;
  border-radius: 1rem;
}

.searchBar {
  background: none;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: white;
  width: 100%;
}

.searchbarContainer:hover {
  background: #88beff;
  transform: scale(1.1);
  border-radius: 0.5rem;
}

.inputGroupPrepend {
  z-index: 2;
  color: white;
}
.iconsHolder {
  flex-grow: 0 !important;
  color: white;
}
.peopleIcon {
  margin-left: 0.72rem;
  color: white;
}
.mailIcon {
  margin-left: 0.6rem;
  color: white;
}

.username {
  white-space: nowrap;
  overflow: hidden;
}
