.section-card {
    background: #f5f6f8!important;

}

.profile {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 8rem;
    height: 8rem;
    background: #c4c4c4;
}

.profile-name {
    font-size: 1.8rem;
}

.profile-tagline{
    font-size: 1rem;
}

.section {
    display: flex;
}

.section-image {
    width: 12rem;
    height: 6rem;
    background: #c4c4c4;
    flex-shrink: 0;
}

.section-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-icons {
    color: #737475;
}