.individualChat {
  display: flex;
  align-items: center;
  padding: 10px;
}

.individualChat:hover {
  background: #eeeef1ad;
  cursor: pointer;
}

.individualProfilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.individualName {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.individualConvo {
  font-size: 14px;
  color: #888;
  margin: 0;
}
