.textBox {
  margin-top: 10%;
  margin-left: 5%;
  /* position: fixed; */
  /* bottom: 40px; */
}

.scroll {
  /* margin:4px, 4px;  */
  /* padding:4px;  */
  width: 90%;
  height: 30em;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
}
